.banner{
    // height: 90vh;
    // border: 1px solid black;
    margin-top: 2rem;
    .texto-banner{
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        h1{
            text-align: left;
            font-size: 6rem;
            line-height: 6rem;
            &::after{
                content: '';
                background-color: $azulDos;
                display: block;
                width: auto;
                height: 0.5rem;
                border-radius: 1rem;
                margin-top: 2rem;
            }
        }
    }
    .picture-banner{
        display: none;
    }
    
    
    @include tablet{
        height: 90vh;
        display: grid;
        grid-template-columns: 65% 35%;

        .picture-banner{
            display: block;
            clip-path: circle(50% at 50% 50%);
            margin: auto;
            height: auto;
            img{
                margin: auto;
            }
        }
    }
}