.proyectos{
    margin: 4rem auto;
    .imagenes-proyectos{
        margin-top: 2rem;
        @include grid(2,2rem);
    }

    @include tablet{
        .imagenes-proyectos{
            @include grid(4,3rem);
        }
    }

    .proyecto{
        background-color: $azulPrincipal;
        border-radius: 1rem;
        padding: 1rem;
        h4{
            text-align: center;
            color: $blanco;
            margin: 0 auto;
        }
        img{
            width: 94%;
            height: auto;
            margin: auto;
            margin-bottom: 1rem;
        }
        p{
            margin: 0 1rem;
            color: $blanco;
        }
        transition: all 350ms ease;
        &:hover{
            transform: scale(1.1);
        }
        @include tablet{
            // img{
            //     height: 10%;
            //     width: auto;
            // }
            
        }
    }
    
}