.card-img-top{
    height: 22rem;
}

.projects{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.imagenes-c{
    img{
        background-color: $azulDos;
        padding: 1.2rem;
        height: 12rem;
        width: 12rem;
        margin: 2rem auto;
        object-fit: cover;
        border-radius: 2rem;
        transition: all 250ms ease;
        &:hover{
            transform: scale(1.1);
        }
    }
}