.sobre-mi{
    margin: 4rem auto;
    height: 50vh;
    img{
        border-radius: 1rem;
        height: 50%;
        width: auto;
        margin: auto;
    }
    .sobre-mi_info{
        h2{
            &::after{
                content: '';
                display: block;
                width: 80%;
                height: 0.3rem;
                margin: auto;
                background-color: $azulPrincipal;

            }
        }
    }
    @include tablet{
        display: flex;
        justify-content: space-around;
        img{
            margin: 2rem auto;
            height: 100%;
        }
        .sobre-mi_info{
            flex: 0 0 calc(66% - 4rem);
        }
    }
}